In [12]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv('summer.csv')

In [3]:
data.shape

(31165, 9)

In [4]:
data.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [14]:
men = data[(data['Gender'] == 'Men') & (data['Medal']=='Gold')]

In [15]:
women = data[(data['Gender'] == 'Women') & (data['Medal']=='Gold')]

In [16]:
win_men = pd.value_counts(men['Athlete'])

THE LINE BELOW GIVES US THE MALE ATHLETE WITH MOST NUMBER OF GOLD MEDALS.

In [17]:
win_men.head(1)

PHELPS, Michael    18
Name: Athlete, dtype: int64

In [18]:
win_women = pd.value_counts(women['Athlete'])

THE LINE BELOW GIVES US THE FEMALE ATHLETE WITH MOST NUMBER OF GOLD MEDALS.

In [19]:
win_women.head(1)

LATYNINA, Larisa    9
Name: Athlete, dtype: int64